.App {
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: radial-gradient(
    circle at -8.9% 50%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 12%,
    rgb(255, 163, 77) 12.2%,
    rgb(255, 163, 77) 20%,
    rgb(19, 30, 37) 20.2%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

h1 {
  font-family: "Pacifico", cursive;
  position: fixed;
  top: 20vh;
}

#container {
  position: fixed;
  top: 30vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 250px 250px;
  grid-template-areas: "top top" "bottom-left bottom-right";
}

#word-display {
  grid-area: top;
  background-color: #f8f398;
  color: rgb(19, 30, 37);
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: x-large;
}

#wrong-guesses,
#guesses-left {
  background-color: #f1b963;
  color: rgb(19, 30, 37);
  padding: 10px 30px;
  border-radius: 6px;
}

#wrong-guesses {
  grid-area: bottom-left;
  color: rgb(161, 31, 31);
}

#guesses-left {
  grid-area: bottom-right;
}

.form,
#another-round {
  position: fixed;
  top: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px 0;
}

.form-label,
#guess,
button {
  margin: auto 5px;
}

#game-score {
  position: fixed;
  top: 80vh;
  font-size: smaller;
}

@media only screen and (max-width: 1024px) {
  .App-header {
    background: radial-gradient(
      circle at -8.9% 3%,
      rgb(255, 124, 0) 0%,
      rgb(255, 124, 0) 12%,
      rgb(255, 163, 77) 12.2%,
      rgb(255, 163, 77) 20%,
      rgb(19, 30, 37) 20.2%
    );
  }

  #container {
    grid-template-columns: 60vw;
    grid-template-areas: "top" "bottom-left" "bottom-right";
  }

  .form {
    max-width: 70vw;
  }
}
