.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #282c34;
  color: white;
}

h1 {
  margin: 0;
}

.portrait {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  height: 100vh;
}

.portrait-segment {
  height: 8vh;
}

.portrait-segment-winter {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
